<div class="container">
  <button class="btn btn-primary" (click)="toggleForm()">Thêm sản phẩm</button>
  <div class="table-responsive">
    <table class="table table-striped text-center">
      <thead>
        <tr class="table-warning">
          <th>ID</th>
          <th>Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Type</th>
          <th>Stock</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products">
          <td>{{ item.id }}</td>
          <td class="text-start">{{ item.name }}</td>
          <td>
            <img src="/assets/menu/{{ item.image }}" width="50px" alt="" />
          </td>
          <td>{{ item.price }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.stock }}</td>
          <td class="edit">
            <button
              class="btn btn-danger mx-1"
              (click)="deleteProduct(item.id)"
            >
              Delete
            </button>
            <button class="btn btn-warning mx-1" (click)="toggleEdit(item.id)">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container ">
  <div class="col-lg-4 mx-auto">
    <div class="card mt-5 " [style.display]="isForm ? 'block' : 'none'">
      <div class="card-header-pills">
        <div class="text-end me-3 mt-1">
          <button class=" btn-close" (click)="toggleForm()"></button>
        </div>
        <h1 class="text-center">ADD NEW PRODUCT</h1>
      </div>
      <div class="card-body">
        <form #frm="ngForm" (submit)="addNewProduct(frm)">
          <label for="">Name</label>
          <input
            type="text"
            [(ngModel)]="productModel.name"
            name="name"
            class="form-control"
          />
          <label for="">Image</label>
          <input
            type="file"
            [(ngModel)]="productModel.image"
            name="image"
            class="form-control"
          />
          <label for="">Price</label>
          <input
            type="number"
            [(ngModel)]="productModel.price"
            name="price"
            class="form-control"
          />
          <label for="">Type</label>
          <input
            type="text"
            [(ngModel)]="productModel.type"
            name="type"
            class="form-control"
          />
          <label for="">Stock</label>
          <input
            type="number"
            [(ngModel)]="productModel.stock"
            name="stock"
            class="form-control"
          />
          <div class="text-end">
            <button class="btn btn-primary mt-2" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container ">
  <div class="col-lg-4 mx-auto">
    <div class="card mt-5 " [style.display]="isEdit ? 'block' : 'none'">
      <div class="card-header-pills">
        <div class="text-end me-3 mt-1">
          <button class=" btn-close" (click)="closeEdit()"></button>
        </div>
        <h1 class="text-center">ADD NEW PRODUCT</h1>
      </div>
      <div class="card-body">
        <form #frm="ngForm" (submit)="editProduct(frm)">
          <input type="number" [(ngModel)]="productModel.id"  name="id" id="">
          <label for="">Name</label>
          <input
            type="text"
            [(ngModel)]="productModel.name"
            name="name"
            class="form-control"
          />
          <label for="">Image</label>
          <input
            type="file"
            [(ngModel)]="productModel.image"
            name="image"
            class="form-control"
          />
          <label for="">Price</label>
          <input
            type="number"
            [(ngModel)]="productModel.price"
            name="price"
            class="form-control"
          />
          <label for="">Type</label>
          <input
            type="text"
            [(ngModel)]="productModel.type"
            name="type"
            class="form-control"
          />
          <label for="">Stock</label>
          <input
            type="number"
            [(ngModel)]="productModel.stock"
            name="stock"
            class="form-control"
          />
          <div class="text-end">
            <button class="btn btn-primary mt-2" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

